<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Join a room</title>
</head>
<body>
    <h1>Join a room</h1>
    <ul id="rooms">
        <li class="room">
            <span class="room-name">Test</span>
            <span class="num-players">1</span>
            <span class="status">Active</span>
        </li>
    </ul>
</body>

<script src="/socket.io/socket.io.js"></script>
<script src="/scripts/join.js"></script>
</html>